// Colors
$black: rgb(25, 30, 28);
$pink: rgb(247, 180, 193);
$dk-pink: rgb(201, 146, 157);
$dkr-pink: rgb(83, 60, 65);
$green: rgb(160, 226, 216);
$dk-green: rgb(90, 126, 118);
$dkr-green: rgb(57, 80, 75);

// Sidebar Nav Width In Pixels
$nav-width: 320px;

// Logo Size In Pixels
$logo-size: 110px;
